.nav{
  margin: 25px;
  height: 75px;
  width: 820px;
  margin: auto;
  background: white;
  padding: 10px;
  padding-top: 25px;
}

.nav li{
  display:inline-block;
  text-align:center;
}

.nav li button{
  height: 75px;
  width: 200px;
  font-size: 22px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background-color: slategrey;
}
body {
  background: #555;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.classGrade{
  padding: 35px;
}

.active{
  color: white;
}

.semesterName{
  padding-bottom:25px;
}

.button {
  background-color: rgb(97, 97, 97);
  border: 10px;
  width: 135px;
  height: 40px;
  margin: 10px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  display:inline-block;
  color:white;
}

.currentGrade{
  background-color: lightgray;
  width: 200px;
  height: 50px;
  margin: 50px;
}

  .applicationWrapper {
      position: relative;
      max-width: 900px;
      margin: auto;
      background: white;
      padding: 10px;
      min-height: 750px;
  }

  .container {
    width: 900px;
    text-align: center;
    display:inline-block;
  }

  .deletebtn {
    background-color: rgb(97, 97, 97);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

  .overallDisplay {
    width: 500px;
    text-align: center;
    display: inline-block;
  }

  #courseInfo {
    display: inline-block;
    width: 500px;
  }

  .leftGPA {
    background-color: lightgray;
    width: 200px;
    height: 50px;
    margin: 10px;
    float: left;
    position: relative;
  }


  .rightGPA {
    background-color: lightgray;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 10px;
    float: right;
  }

  .currentGrade {
    background-color: lightgray;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 10px;
    
  }

  .currentGradeWrapper {
    width: 900px;
  }

.logo {
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
}

img {
  margin: auto;
  text-align: center;
    width: 600px;
  }

table {
  text-align: center;
  display: inline-block;
}

.semesterList {
  width: 800px;
  text-align: center;
  display: inline-block;
  }
  

.semester {
margin: 50px;
width: 800px;
text-align: center;
display: inline-block;
}


.course {
  text-align: center;
display: inline-block;
width: 800px;
}

#courseInfo {
  text-align: center;
  display: inline-block; 
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  float: right;
}