.nav{
  margin: 25px;
  height: 75px;
  width: 820px;
  display:inline-block;
  text-align:center;
}

.nav li{
  display:inline-block;
  text-align:center;
}

.nav li button{
  height: 75px;
  width: 200px;
  font-size: 22px;
  border: 10px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  display:inline-block;
  background-color: slategrey;
}

.classGrade{
  padding: 35px;
}

.active{
  color: white;
}

.semesterName{
  padding-bottom:25px;
}

.button {
  border: 10px;
  width: 200px;
  height: 40px;
  margin: 10px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  display:inline-block;
}

  body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
  }

  .container {
    width: 900px;
    text-align: center;
    display:inline-block;
  }



  .overallDisplay {
    width: 500px;
    text-align: center;
    display: inline-block;
  }

  #courseInfo {
    display: inline-block;
    width: 500px;
  }

  .leftGPA {
    background-color: lightgray;
    width: 200px;
    height: 40px;
    margin: 10px;
    float: left;
    position: relative;
  }


  .rightGPA {
    background-color: lightgray;
    text-align: center;
    width: 200px;
    height: 40px;
    margin: 10px;
    float: right;
  }

  .currentGrade {
    background-color: lightgray;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 10px;
  }

img {
    width: 600px;
  }

table {
  text-align: center;
  display: inline-block;
}

.semesterList {
  width: 800px;
  text-align: center;
  display: inline-block;
  }
  

.semester {
margin: 50px;
width: 800px;
text-align: center;
display: inline-block;
}

.Currentgrade {
  background-color: lightgray;
  text-align: center;
  width: 200px;
  height: 40px;
}

.course {
  text-align: center;
display: inline-block;
width: 800px;
}

#courseInfo {
  text-align: center;
  display: inline-block; 
}