/* Add a black background color to the top navigation */
.topnav {
  background-color:  rgb(102, 151, 182);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(24, 24, 24);
  color: white;
}


.nav{
  margin: 25px;
  height: 75px;
  width: 820px;
  margin: auto;
  background: white;
  padding: 10px;
  padding-top: 25px;
}

.nav li{
  display:inline-block;
  text-align:center;
}

.nav li button{
  height: 75px;
  width: 200px;
  font-size: 22px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background-color: slategrey;
}
body {
  background: #555;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.classGrade{
  padding: 35px;
}

.active{
  color: white;
}

.semesterName{
  font-size:20pt;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-bottom: 20px;
  margin-right: 20px;
}

.button {
  background-color: rgb(97, 97, 97);
  border: 10px;
  width: 135px;
  height: 40px;
  margin: 10px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  display:inline-block;
  color:white;
  vertical-align: middle;
}

.currentGrade{
  background-color: lightgray;
  width: 200px;
  height: 50px;
  margin: 50px;
}

  .applicationWrapper {
    
      position: relative;
      max-width: 900px;
      margin: auto;
      background: white;
      min-height: 800px;
      padding-bottom: 30px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
  }

  .container {
    width: 900px;
    text-align: center;
    display:inline-block;
  }

  .editbtn {
    background-color: slategray;
    padding: 10px;
    border: none;
    color: white;
    font-size: 12px;
  }

  .deletebtn {
    border: none;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .overallDisplay {
    width: 500px;
    text-align: center;
    display: inline-block;
  }

  #courseInfo {
    display: inline-block;
    width: 500px;
  }

  .leftGPA {
    background-color: lightgray;
    width: 200px;
    height: 50px;
    margin: 10px;
    float: left;
    position: relative;
  }


  .rightGPA {
    background-color: lightgray;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 10px;
    float: right;
  }

  .currentGrade {
    background-color: lightgray;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    margin: 10px;   
  }

  .currentGradeWrapper{
    margin-top: 10px;
  }


.logo {
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
}

img {
  margin: auto;
  text-align: center;
    width: 600px;
  }

table {
  text-align: center;
  display: inline-block;
}

.semesterList {
  width: 900px;
  text-align: center;
  display: inline-block;
  }
  

.semester {
background-color: rgb(238, 238, 238);
margin-top: 25px;
margin-right: auto;
margin-left: auto;
padding-top: 25px;
padding-bottom: 25px;
width: 800px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;

}


.course {
  text-align: center;
display: inline-block;
width: 800px;
}

#courseInfo {
  text-align: center;
  display: inline-block; 
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
}

.close {
  height: 40px;
  padding: 5px;
  float: right;
}

#grade_title_row th, #grade_info_row td{
  padding: 4px;
}

#grade_info_row td input{
  margin: 0px;
}

table, th, td{
  border-collapse: collapse;
  padding-right: 10px;
}

.semesters tr:nth-child(even), .classes tr:nth-child(even)
{
  background-color: rgb(142, 191, 222);
}

.semesters tr td{
  padding: 15px;
  
}